Hello <%= @user.email %> !

Someone has requested a link to change your password. You can do this through the link below.

<% reset_password_link = "#{ENV['FRONTEND_APP_HOST']}/user/password/reset?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
   <button class="new-password-button">
     Choose a new password
   </button>
<% end %>

If you didn't request this, please ignore this email.

Your password won't change until you access the link above and create a new one.
